fastapi==0.117.1
uvicorn[standard]==0.36.0
sqlalchemy==2.0.43
psycopg[binary]==3.2.10
PyJWT==2.10.1
pwdlib[argon2]==0.2.1
python-multipart==0.0.20
pillow==11.3.0
pypdf==6.0.1
pydantic-settings==2.10.1
